/* EditBaggageForm.module.css */

.card {
  background: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  font: normal 2.5rem/2.125rem var(--euclidflex-regular);
  color: rgba(255, 136, 0, 0.9);
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
}

.formGroup {
  display: flex;
}

.formLabel {
  font-weight: bold;
  margin-right: auto;
  font-family: "EuclidFlex Normal", sans-serif;
  font-size: 1.1rem;
}

.formControl {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  height: 50px;
}

.btn {
  margin-top: 10%;
  width: 250px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 136, 0, 0.9);
  font-size: 1.5rem;
  font-family: "EuclidFlex Bold", sans-serif;
  border: 2px solid rgba(255, 136, 0, 0.9); /* Белая рамка */
}
.btn:hover {
  transition: 0.5s ease-in-out;
  background: rgba(0, 0, 34, 0.4);
  border-color: rgba(0, 0, 34, 0.4);
}
.btnImage {
  width: 100%;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 136, 0, 0.9);
  font-size: 1.5rem;
  font-family: "EuclidFlex Bold", sans-serif;
  border: 2px solid rgba(255, 136, 0, 0.9); /* Белая рамка */
}
.btnImage:hover {
  transition: 0.5s ease-in-out;
  background: rgba(0, 0, 34, 0.4);
  border-color: rgba(0, 0, 34, 0.4);
}

.searchInput {
  color: white;
  font-size: 20px;
  border: 1px solid var(--euclidflex-medium);
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  height: 40px;
  width: 60%;
}

.imageUploadContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.imageLabel {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "EuclidFlex Normal", sans-serif;
}

.imageInput {
  margin-bottom: 10px;
}

.imagePreview {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.customFileInputContainer {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.customFileInputBtn {
  position: relative;
  z-index: 1;
}

.customFileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
