/* AuthForm.module.css */
.authForm {
  background: none;
  color: #e8a236;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 50vh;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.title {
  font-size: 2rem;
  font-family: "EuclidFlex Bold", sans-serif;
  margin-bottom: 20px;
  color: #e8a236;
}

.formgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.input {
  color: #e8a236;
  font-size: 1.6rem;
  border: 1px solid var(--euclidflex-medium);
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  height: 60px; /* Добавьте высоту для выравнивания с кнопкой поиска */
}

.label {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-family: "EuclidFlex Bold", serif;
  text-align: left;
}

.loginButton {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #150b0b;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e8a236; /* изменен цвет текста */
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 1.6rem;
}

.loginButton:hover,
.loginButton:active,
.loginButton:focus {
  transition: 0.5s ease-in-out;
  background: #150b0b;
  border: 1px solid #150b0b;
}
