/* NavbarDelivery.module.css */
*,
:after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: Inter;
  font-weight: 400;
  line-height: 60px;
  word-wrap: break-word;
  --w: white;
  --navy: #000022;
  --indigo: #5d13f9;
  --darkShape: #000022;
  --firstBlueShape: #0777fd;
  --secondBlueShape: #02feff;
  --whiteShape: #ffffff;
  --euclidflex-medium: "EuclidFlex Medium", sans-serif;
  --euclidflex-bold: "EuclidFlex Bold", sans-serif;
  --euclidflex-regular: "EuclidFlex Regular", sans-serif;
}
/* Стили для блока, содержащего линки и форму поиска */
.navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
  margin-top: 50px;
  font-family: "EuclidFlex Medium";
  font-size: large;
}
/* Дополнительные стили для формы поиска */
.form {
  display: flex;
  align-items: center;
  margin-left: 200px; /* Увеличил отступ слева для лучшего визуального разделения */
  margin-bottom: 0;
}

.searchInput {
  color: white;
  font-size: 1.2rem;
  border: 1px solid var(--euclidflex-medium);
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  margin-bottom: 10px; /* Добавил отступ снизу */
  height: 40px;
  width: 200px; /* Увеличил ширину */
}
.searchOwner {
  color: white;
  font-size: 1.5rem;
  border: 1px solid var(--euclidflex-medium);
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  margin-bottom: 10px; /* Добавил отступ снизу */
  height: 40px;
  width: 400px; /* Увеличил ширину */
}

.datePicker {
  color: #ffffff;
  font-family: "EuclidFlex Medium";
  font-size: 20px;
  outline: none;
  border-radius: 5px;
}

.datePicker::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "EuclidFlex Medium";
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(255, 136, 0, 0.6);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  z-index: 1;
  font-family: "EuclidFlex Medium";
}

/* Расположение значений списка в столбик */
.dropdownContent a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.dropdownContent a:hover {
  background-color: rgba(0, 0, 34, 0.4);
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownToggle {
  background-color: var(--euclidflex-medium);
  border: none;
  font-family: "EuclidFlex Medium";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Исправление для кнопок, чтобы они были ровно выровнены с другими элементами */
.searchButton,
.dropdownToggle {
  margin-top: 0;
}
