.aboutContainer {
  background-color: transparent; /* Прозрачный фон */
  padding: 20px; /* Внутренний отступ для контейнера */
  text-align: center; /* Выравнивание по центру */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

/* Стили для заголовка page-title */
.aboutTitle {
  background-image: linear-gradient(
    250deg,
    #02feff 10%,
    #fff 60%
  ); /* Градиентный фон для текста */
  -webkit-background-clip: text; /* Устанавливаем обрезание фона для текста */
  color: transparent; /* Делаем текст заголовка прозрачным */
  font: normal 3.5rem/3.925rem var(--euclidflex-medium);
}

/* Стили для текста */
.aboutInformation {
  font: normal 2.5rem/2.525rem var(--euclidflex-medium);
  background-image: linear-gradient(
    250deg,
    #02feff 10%,
    #fff 60%
  ); /* Градиентный фон для текста */
  -webkit-background-clip: text; /* Устанавливаем обрезание фона для текста */
  color: transparent; /* Делаем текст прозрачным */
  margin-top: 10px; /* Отступ сверху, чтобы текст был ниже заголовка */
}
