/* BaggageList.css */

.cardsTitle {
  font: normal 2.1rem/2.125rem var(--euclidflex-regular);
  color: #fff;
  margin-bottom: 0;
}

/* Стили для карточек багажей */
.cards {
  background: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 1%;
  margin: 1%;
}
.card {
  margin: 1%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
/* Стили для изображений на карточках */
.cardsImg {
  max-width: 100%; /* Максимальная ширина изображения */
  max-height: 100%; /* Максимальная высота изображения */
  height: auto; /* Автоматическая высота, чтобы изображение не искажалось */
}

/* BaggageList.module.css */
.cardsText {
  font: normal 1.5rem/3.125rem var(--euclidflex-regular);
}
.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex; /* Устанавливаем кнопку как flex-контейнер */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */
  text-align: center; /* Выравнивание текста по центру */
  color: white; /* Белый цвет текста */
  font-family: "EuclidFlex Bold", sans-serif; /* Установка шрифта */
  font-size: 18px; /* Размер шрифта */
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: var(--firstBlueShape);
}
/* BaggageList.module.css */

/* Ваши стили для карточки */
.cardDel {
  margin-top: 50px; /* Просто для демонстрации, можно настроить по вашему усмотрению */
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(255, 255, 255, 0.786);
  text-align: center;
  border-radius: 15px; /* Добавляем скругление углов */
}

/* Добавим отступы внутрь карточки */
.card-bodyDel {
  padding: 20px;
}

/* Стили для заголовка карточки */
.cardsTitleDel {
  font: normal 2.1rem/2.125rem var(--euclidflex-regular);
  color: #fff;
  margin-bottom: 0;
}

/* Стили для текста в карточке */
.cardsTextDel {
  font: normal 1.5rem/3.125rem var(--euclidflex-regular);
}
