/* DeliveryTable.module.css */

/* Глобальные стили */
.section {
  margin: 50px;
}

/* Стили таблицы */
.table {
  width: auto;
  margin: 5%;
  table-layout: fixed;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
}

.table-header {
  background-color: rgba(0, 0, 255, 0.2);
}

.table-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
}

.th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.125rem;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 3.125rem;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  position: relative; /* Added position relative */
}

/* В файле DeliveryTable.module.css */
.link {
  display: block; /* Делаем ссылку блочным элементом, чтобы занимала всю ширину родительского <tr> */
  color: inherit; /* Наследуем цвет текста от родительских стилей */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.tr:hover .td {
  background-color: rgba(255, 255, 255, 0.1);
}
.clickable {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Демонстрационные стили */

.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: rgba(255, 255, 255, 0.9);
}

.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.made-with-love a:hover {
  text-decoration: underline;
}

/* Для пользовательского скроллбара в браузере Webkit */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex; /* Устанавливаем кнопку как flex-контейнер */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */
  text-align: center; /* Выравнивание текста по центру */
  color: white; /* Белый цвет текста */
  font-family: "EuclidFlex Bold", sans-serif; /* Установка шрифта */
  font-size: 18px; /* Размер шрифта */
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: var(--firstBlueShape);
}

.disabledLink {
  color: #888; /* цвет текста тусклой ссылки */
  cursor: not-allowed; /* изменение курсора на "not-allowed" */
  pointer-events: none; /* отключение событий указателя (ссылка становится непереходимой) */
}
.photo_url {
  width: 100%;
  height: 100%;
}
.td {
  padding: 0; /* Убираем внутренний отступ */
  border: none; /* Убираем границы */
  position: relative;
}

.createBtn {
  width: 100%;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 18px;
  position: absolute; /* Используем абсолютное позиционирование */
  top: 0;
  left: 0;
}
.createBtn:hover {
  transition: 0.5s ease-in-out;
  background: var(--firstBlueShape);
}
