.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex; /* Устанавливаем кнопку как flex-контейнер */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */
  text-align: center; /* Выравнивание текста по центру */
  color: white; /* Белый цвет текста */
  font-family: "EuclidFlex Bold", sans-serif; /* Установка шрифта */
  font-size: 18px; /* Размер шрифта */
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: var(--firstBlueShape);
}
.flightNumberInput {
  color: white;
  font-size: 20px;
  border: 1px solid var(--euclidflex-medium);
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  height: 40px; /* Добавьте высоту для выравнивания с кнопкой поиска */
}
.flexContainer {
  display: flex;
  align-items: center;
}
.buttonContainer {
  display: flex;
  margin-right: 10px;
}
.flightNumberForm {
  display: flex;
  align-items: center; /* Центрируем элементы по вертикали */
}
