/* Breadcrumbs.module.css */

.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1%;
  margin: 1%;
}

.breadcrumbItem {
  display: inline-block;
  align-items: center;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 1.6rem;
}

.separator {
  margin: 0 5px; /* Adjust the margin as needed */
  font-size: 30px;
  font-family: "EuclidFlex Bold", sans-serif;
}

.breadcrumbItem.active {
  color: #e8a236; /* Color of the active breadcrumb item */
  font-weight: bold;
}
