.navbar {
  background-color: #150b0b;
  padding: 0% 1% 0 1%;
  overflow-x: auto;
  /* Убедитесь, что контент не выходит за границы контейнера */
  white-space: nowrap;
}
.logo {
  width: 20%;
  height: 20%;
}
/* Добавленные стили для toggleButton */
.toggleButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px; /* Пространство между toggleButton и линками */
}

.navbarBrand {
  color: #e8a236;
  font-size: 2.5rem;
  font-weight: bold;
}

.collapse {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navLink {
  padding: 10px 30px;
  cursor: pointer;
  color: #e8a236;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 22px;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
}
.btn {
  padding: 10px 30px;
  cursor: pointer;
  color: #e8a236;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 22px;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
  background-color: rgb(144, 19, 14);
}
.navLink:hover,
.navLink:active,
.navLink:focus {
  background: linear-gradient(200deg, #363636 18.39%, #212121 84.11%);
}
.disabledLink {
  color: #888; /* цвет текста тусклой ссылки */
  cursor: not-allowed; /* изменение курсора на "not-allowed" */
  pointer-events: none; /* отключение событий указателя (ссылка становится непереходимой) */
}

/* StyledSwitch.module.css */
.customSwitch {
  position: relative;
  width: 120px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  display: flex;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 18px;
  align-items: center;
  margin-right: 10px;
  gap: 5px;
}

.customSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
  transition: 0.4s;
}

.customSwitch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.customSwitch input:checked + .slider {
  background-color: #51cbce;
}

.customSwitch input:checked + .slider:before {
  transform: translateX(90px);
}
