.navbar {
  background-color: #150b0b;
  padding: 0% 1% 0 1%;
}
.logo {
  width: 20%;
  height: 20%;
}
/* Добавленные стили для toggleButton */
.toggleButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px; /* Пространство между toggleButton и линками */
}

.navbarBrand {
  color: #e8a236;
  font-size: 30px;
  font-weight: bold;
  margin-right: 7%;
}

.collapse {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navLink {
  padding: 10px 30px;
  cursor: pointer;
  color: #e8a236;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 22px;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
}

.navLink:hover,
.navLink:active,
.navLink:focus {
  background: linear-gradient(200deg, #363636 18.39%, #212121 84.11%);
}
