*,
:after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

:root {
  color: #e8a236;
  font-family: Inter;
  font-weight: 400;
  line-height: 60px;
  word-wrap: break-word;
  --euclidflex-medium: "EuclidFlex Medium", sans-serif;
  --euclidflex-bold: "EuclidFlex Bold", sans-serif;
  --euclidflex-regular: "EuclidFlex Regular", sans-serif;
}

/* Общие стили */
body {
  background: linear-gradient(200deg, #363636 18.39%, #212121 84.11%);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 10px;
}
/* Стили для логотипа (navbar-brand) */
.navbar-brand {
  text-decoration: none;
}
.brand-container {
  display: flex;
  align-items: center;
}
/* Стили для логотипа (brand-name) */
.brand-name {
  color: #e8a236; /* изменен цвет текста */
  font: normal 2.5rem/2.125rem var(--euclidflex-medium);
  margin: 0;
}
.icon {
  margin: 0;
  vertical-align: middle;
}
/* Стили для контейнера .input-group */
.input-group {
  color: #150b0b;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
  border-radius: 0;
  border-right: 0;
  margin-left: 250px;
}

/* Стили для инпута */
.input-group input {
  flex: 1;
  height: 60px;
  border-radius: 0;
  border-right: 0;
  background-color: transparent;
  color: #150b0b; /* изменен цвет текста */
  font-size: 20px;
  border: 1px solid #212121;
  transition: background-color 0.3s ease;
}

.input-group input:focus {
  background-color: transparent;
  color: #e8a236; /* изменен цвет текста */
}
/* Стили для плейсхолдера */
.input-group input::placeholder {
  color: rgb(109, 100, 45);
}
.container .row {
  border: 2px solid #150b0b;
  padding: 20px;
  border-radius: 10px;
}

.cards-title {
  font: normal 1.7rem/1.825rem var(--euclidflex-regular);
  color: #e8a236; /* изменен цвет текста */
  padding-top: 2%;
  margin-bottom: 0;
}

.cards {
  background: none;
  color: #e8a236; /* изменен цвет текста */
  border: #150b0b;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

/* Стили для изображений на карточках */
.cards-img-top {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #150b0b;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e8a236; /* изменен цвет текста */
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 18px;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: #150b0b;
  border: 1px solid #150b0b;
}

.card {
  background: none;
  color: #e8a236; /* изменен цвет текста */
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 850px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img-top {
  max-width: 100%;
  max-height: 70%;
  height: auto;
}

.card-title {
  font: normal 1.8rem/1.925rem var(--euclidflex-regular);
  color: #e8a236; /* изменен цвет текста */
  margin-bottom: 20px;
}
.card-text {
  font: normal 1.1rem/1.35rem var(--euclidflex-medium);
  color: #e8a236; /* изменен цвет текста */
}
