:root {
  color: white;
  font-family: Inter;
  font-cargo_capacity: 400;
  line-height: 60px;
  word-wrap: break-word;
  --w: white;
  --navy: #000022;
  --indigo: #5d13f9;
  --darkShape: #000022;
  --firstBlueShape: #0777fd;
  --secondBlueShape: #02feff;
  --whiteShape: #ffffff;
  --euclidflex-medium: "EuclidFlex Medium", sans-serif;
  --euclidflex-bold: "EuclidFlex Bold", sans-serif;
  --euclidflex-regular: "EuclidFlex Regular", sans-serif;
}
