.toggleButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin: 1%;
  padding: 1%;
}

.form {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.collapse {
  display: flex;
  align-items: center;
}

.searchInput {
  color: #e8a236;
  font-size: 20px;
  border: 1px solid var(--euclidflex-medium);
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  height: 40px; /* Добавьте высоту для выравнивания с кнопкой поиска */
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #150b0b;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e8a236; /* изменен цвет текста */
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 18px;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: #150b0b;
  border: 1px solid #150b0b;
}
