/* ShipDetailsComponent.module.css */

.card {
  background: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 600px; /* Увеличиваем ширину карточки */
  height: auto; /* Используем высоту 80% от высоты окна браузера */
  margin: auto; /* Центрируем карточку по горизонтали */
  margin-top: 50px; /* Добавляем отступ сверху */
  display: flex;
  flex-direction: column; /* Выравниваем элементы внутри карточки по вертикали */
  align-items: center; /* Выравниваем по центру по вертикали */
  text-align: center;
}

.cardImg {
  max-width: 100%;
  max-height: 60%; /* Уменьшаем высоту изображения */
  height: auto;
}

.cardTitle {
  font: normal 2.5rem/2.125rem var(--euclidflex-regular);
  color: #e8a236;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cardText {
  font: 1.5rem/3.5rem var(--euclidflex-regular);
}
